/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #378b44; /* Light background color for the entire page */
}

a {
  text-decoration: none;
  color: white;
}

/* Navbar styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav h1 {
  color: white;
}

nav ul {
  list-style: none;
  font-size: 16px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #215a29;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2); /* Slight transparency */
  border-radius: 30px;
  padding: 5px 10px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#search-input {
  border: none;
  background-color: transparent;
  padding: 10px 15px;
  font-size: 14px;
  outline: none;
  color: white; /* Text color */
  width: 180px; /* Adjust width */
}

#search-input::placeholder {
  color: white;
  opacity: 0.8; /* Slight transparency for placeholder */
}

#search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

#search-btn svg {
  width: 18px;
  height: 18px;
  filter: invert(1); /* Invert colors to make the search icon white */
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.login-btn,
.signup-btn {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: white;
}

.login-btn {
  background-color: #00509e;
}

.signup-btn {
  background-color: #215a29;
}

/* Contact Page Layout */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: 100px; /* Adjust based on your navbar height */
}

/* Left column for the image */
.contact-image {
  flex: 1;
  max-width: 100%;
}

.contact-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Right column for contact information */
address {
  font-style: normal; 
  line-height: 1.6;
  margin-top: 10px;
}

.contact-info {
  flex: 1;
  padding-left: 30px;
}

.contact-info h2 {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
}

.contact-info a {
  color: #01468b;
  text-decoration: none;
  font-weight: bold;
}

.contact-info a:hover {
  color: #ffa500;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #002147;
  color: white;
}
