/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(7, 92, 0, 1) 37%,
    rgba(99, 207, 115, 1) 74%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 70%;
  height: 80vh;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Left side: Login Form */
.login-form {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

h1 {
  font-size: 28px; /* Reduced font size for heading */
  color: #3627a6;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 12px; /* Reduced font size for labels */
  color: #7c7c7c;
  margin-bottom: 5px;
}

input {
  padding: 10px; /* Reduced padding for inputs */
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px; /* Reduced font size for input text */
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 12px; /* Reduced font size for remember/forgot */
  margin-bottom: 25px;
}

.remember-forgot a {
  color: #7c7c7c;
  text-decoration: none;
}

button {
  padding: 10px; /* Reduced padding for buttons */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px; /* Reduced font size for buttons */
}

.login-btn {
  background-color: #378b44;
  color: white;
}

.signup-btn {
  display: inline-block;
  background-color: #075c00;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}

/* Style the button inside the anchor tag */
.signup-btn button {
  background: none;
  color: inherit;
  cursor: pointer;
  padding: 10px;
}

/* Right side: Image */
.login-image {
  flex: 1;
  background: radial-gradient(
    circle,
    rgba(7, 92, 0, 1) 28%,
    rgba(99, 207, 115, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  width: 100%;
  height: auto;
}
